<style media="screen">

  #vsebina {
    margin: 100px;
    color: black;
    border-style: solid;
    border-width: 1px;
    background-color: hsl(180, 100%, 95%);
    padding: 10px;
    padding-left: 30px;
  }

  #flixbus-odhodi {
    width: 100%;

  }

  #slika {
    margin-left: 20px;
  }

  #naslov {
    color: black;
  }

  #ozadje {
    background-color: #e6faff;
    font-family: 'Mansalva', cursive;
  }
</style>
